@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap");
/* font-family: 'Poppins', sans-serif; */

body {
	/* font-family: "Playfair Display", serif; */
	padding-top: 50px;
}

* {
	box-sizing: border-box;
	/* outline: 1px solid red; */
}

/* Typography */

.vl {
	border-left: 1px solid grey;
	/* margin-right: 5px; */
}

.bl {
	border-left: 1px solid #ddd;
}

.bb {
	border-bottom: 1px solid #ddd;
}

/* helper classes */

.p-1 {
	padding: 15px;
}
.px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.px-1 {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.py-3 {
	padding-bottom: 30px !important;
	padding-top: 30px !important;
}

.py-10 {
	padding-top: 100px !important;
	padding-bottom: 100px !important;
}
.pr-0 {
	padding-right: 0 !important;
}
.pr-1 {
	padding-right: 10px !important;
}
.pr-2 {
	padding-right: 5px !important;
}
.pb-0 {
	padding-bottom: 0;
}

.pb-2 {
	padding-bottom: 20px !important;
}
.pb-5 {
	padding-bottom: 50px;
}

.pl-0 {
	padding-left: 0 !important;
}

.pl-1 {
	padding-left: 5px !important;
}

.my-5 {
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}
.ml-0 {
	margin-left: 0 !important;
}

.ml-5 {
	margin-left: 5px !important;
}
.ml-6 {
	margin-left: 50px;
}
.ml-7 {
	margin-left: 60px !important;
}
.ml-8 {
	margin-left: 80px !important;
}
.ml-10 {
	margin-left: 100px !important;
}

.mr-4 {
	margin-right: 21px !important;
}
.mr-5 {
	margin-right: 5px;
}

.mt-1 {
	margin-top: 5px !important;
}
.mt-2 {
	margin-top: 15px !important;
}
.mt-6 {
	margin-top: 74px !important;
}
.mt-10 {
	margin-top: 100px !important;
}

.mb-2 {
	margin-bottom: 15px !important;
}
.mb-10 {
	margin-bottom: 100px !important;
}

.wd-80 {
	width: 80px !important;
}
.wd-90 {
	width: 85% !important;
}

.wd-100 {
	width: 100% !important;
}

.wd-130 {
	width: 130px !important;
}

.f-w-400 {
	font-weight: 400 !important;
}

.h-5 {
	min-height: 600px !important;
	/* max-height: 500px !important; */
}

.u-list-inline {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.list-inline-item {
	display: inline-block !important;
}

.bg-primary {
	background-color: #3bb18f !important;
	border: 3px solid rgb(19, 18, 18);
}

.g-bg-primary {
	background-color: #3bb18f !important;
}

.g-bg-white {
	background-color: white !important;
}

.c-primary {
	color: #3bb18f !important;
}
.c-grey-light {
	color: #ccc !important;
}
.c-white {
	color: white !important;
}
.bg-grey {
	background-color: rgba(206, 203, 203, 0.747) !important;
}

.d-block {
	display: block;
}

.center-align {
	margin-left: auto !important;
	margin-right: auto !important;
}

.align-middle {
	vertical-align: middle !important;
}

.justify-content-between {
	justify-content: space-between !important;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.font-size-13 {
	font-size: 13px !important;
}
.br-0 {
	border-radius: 0 !important;
}
/* --------------- */

.secondNav {
	background-color: white;
	border: none;
	padding-top: 25px;
	padding-bottom: 25px;
	/* min-height: 100px; */
	/* line-height: 100px; */
}

.navbar {
	margin-bottom: 0;
}

.navbar-right li a:hover {
	color: #3bb18f !important;
}

.secondNav a {
	color: black !important;
	font-size: 42px !important;
	/* min-height: 100px; */
	/* line-height: 100px; */
}

a.abc {
	color: black !important;
	font-size: 14px !important;
}

/* Footer */
.footer {
	background-color: rgb(46, 44, 44);
	color: honeydew;
	min-height: 600px;
}

.footer-list {
	padding-left: 0;
}
.footer-list li {
	list-style-type: none;
	padding-left: 0;
	padding-bottom: 18px !important;
}

.footer-list li a {
	color: rgb(172, 165, 165);
	/* color: rgb(211, 202, 202); */
	font-size: 13px;
}

.email {
	background-color: rgb(19, 18, 18);
	border: none;
	color: wheat;
}

.email::placeholder {
	color: rgb(88, 86, 86);
}

.language {
	color: rgb(172, 165, 165);
}

.language a {
	color: rgb(172, 165, 165);
}

.language a:hover {
	color: honeydew;
}

.hr {
	border-bottom: 1px solid grey;
	margin-top: 30px;
	margin-bottom: 30px;
	min-width: 100%;
	margin-left: -15px;
	margin-right: -15px;
}
.cards {
	color: #999;
}
.last {
	color: rgb(116, 108, 108);
	font-size: 12px;
}

.last p {
	margin: 4px;
}

.flags img {
	width: 30px;
}

/* old carousel */

.left-text {
	color: var(--white);
	font-size: 64px;
	font-weight: 700;
	height: 272px;
	left: 100px;
	letter-spacing: 0.5px;
	line-height: 150%;
	position: absolute;
	top: 250px;
	width: 570px;
}

.slder {
	position: relative;
}
.slider {
	max-width: 100%;
	overflow: hidden;
}

.slick-prev {
	left: 25px;
}

.slick-next {
	right: 25px;
}

.slick-next,
.slick-prev {
	z-index: 99;
}

.slick-prev:before {
	color: var(--light);
	font-size: 30px;
	font-weight: 800;
}

.slick-next:before {
	/* content: ">"; */
	/* color: var(--light); */
	/* background-color: var(--black); */
	/* border-radius: 50%; */
	font-size: 30px;
	font-weight: 800;
	/* line-height: 20px; */
	right: 24px;
	/* float: left; */
}
img {
	max-width: 100%;
}

/* Carousel overlay text  */
.carousel-overlay {
	color: #fff;
	position: absolute;
	z-index: 11;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center !important;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	right: 15%;
	top: 70px;
	left: 15%;
}

.carousel-overlay h1 {
	font-size: 54px !important;
	font-weight: 800;
}

.carousel-overlay h2 {
	color: wheat;
	margin-top: 50px;
	margin-bottom: 50px;
}

.transparent-btn {
	background-color: transparent;
	color: wheat;
	font-size: 14px;
	margin-left: 40px;
	margin-right: 40px;
	padding-left: 30px;
	padding-right: 30px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.transparent-btn:hover {
	background-color: rgba(255, 235, 205, 0.342);
}

/* Features */

.feature-h {
	color: black;
	font-weight: 700;
	text-transform: uppercase;
	/* text-align: left; */
}

.feature-d {
	color: grey;
	/* text-align: left !important; */
}

/* Categories */
.cat-overlay {
	bottom: 4.14286rem;
	color: black;
	left: 4.14286rem;
	position: absolute;
	/* text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6); */
}

.cat-overlay h2 {
	font-weight: 700;
	margin-top: 10px;
}

/* Featured products */

.feature-discription {
	color: black;
	max-width: 600px;
	/* text-align: center; */
	margin: 0 auto 50px;
}

.feature-discription p {
	color: #777;
}

.cart-fav {
	float: right;
	line-height: 1.1;
}

.card-info h5 {
	color: black !important;
	font-size: 16px !important;
	font-weight: 500;
}

.card-cat {
	color: #999;
	font-size: 13px;
}

.card-price {
	color: black;
	font-size: 17px;
}

/* promo block */

.promo-block {
	background-color: #eef1f8 !important;
	padding-top: 100px;
	padding-bottom: 70px;
}

.promo-price {
	background-color: #3bb18f !important;
	border-radius: 50%;
	border: 5px solid white;
	color: white;
	position: absolute;
	height: 85px;
	width: 85px;
	text-align: center;
	top: 80px;
}

.promo-price h2 {
	font-size: 22px;
	line-height: 1.6;
}

.cent-size {
	font-size: 16px;
}

.promo-block-left h2 {
	color: #3bb18f !important;
	font-size: 40px;
	margin-bottom: 0;
}

.promo-block-left h1 {
	color: black;
	font-size: 75px;
	margin-top: 0;
}

.lead-p {
	color: #777;
	font-size: 20px;
	font-weight: 300;
	padding-bottom: 30px;
}

.btn-promo {
	background-color: #3bb18f;
	border: none;
	font-size: 12px;
	padding: 12px 25px;
}

.btn-promo:hover {
	background-color: #39a889d8;
}

/* New arrivals  */

.article {
	border: 1px solid #eee;
	padding: 10px;
	margin-bottom: 20px;
}
.article-right {
	float: right;
	text-align: left;
}

.article-right h5 {
	color: black !important;
	font-size: 16px !important;
	font-weight: 500;
}

.article img {
	height: 100px;
	width: 100px;
}

/* Categories flex  */

.flex-1 {
	left: 55%;
	position: absolute;
	text-align: right;
	top: 30%;
}

.flex-1 h2 {
	color: white;
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.flex-1 p {
	font-size: 18px;
	font-weight: 600;
}

.left-flex.bg-grey img {
	overflow: hidden;
	padding-top: 70px;
}

.left-flex:hover {
	color: #3bb18f;
	cursor: pointer;
}

.flex-2 {
	left: 27%;
	position: absolute;
	text-align: center;
	/* top: 80%; */
}

.flex-2 h3 {
	font-size: 20px;
	font-weight: 500;
	/* text-align: center; */
}

.flex-2 p {
	color: #3bb18f;
	font-size: 20px;
	font-weight: 700;
}

/* blogs news */

.opa-3 {
	background-color: rgba(0, 0, 0, 0.25);
	width: 92%;
	top: 0;
	position: absolute;
	min-height: 420px;
}
.blog-overlay {
	/* background-color: rgba(0, 0, 0, 0.344); */
	color: white;
	/* left: 30%; */
	position: absolute;
	top: 70%;
	width: 90%;
	text-align: center;
}

.overlay img {
	min-height: 420px;
	max-height: 420px;
}

.blog-cat {
	font-size: 13px;
	color: rgba(255, 255, 255, 0.7) !important;
}

.blog-overlay h2 {
	font-size: 20px;
}

.blog-overlay h2:hover {
	color: #3bb18f;
	cursor: pointer;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.blog-overlay h4 {
	color: rgba(255, 255, 255, 0.7) !important;
	font-size: 11px;
}

.blog-overlay a {
	color: inherit;
	font-weight: 600;
}

.blog-date {
	/* font-size: 11px; */
}

.wrapper {
	position: relative;
}
.wrapper span {
	position: absolute;
	top: -2px;
	right: -2px;
}

.badge {
	position: absolute;
	top: 5px;
	right: 2px;
	height: 18px;
	display: block;
	width: 19px;
	text-align: center;
	background-color: #3bb18f;
	line-height: 12px;
}

@media only screen and (max-width: 600px) {
	.flex-1 {
		left: 55%;
		top: 20%;
	}
	.flex-1 h2 {
		font-size: 26px;
	}
	.flex-1 p {
		font-size: 14px;
	}
}

/* checkout page  */

.u-list-inline li.list-inline-item a {
	color: inherit;
}
.u-list-inline li.list-inline-item a:hover {
	color: #3bb18f !important;
	text-decoration: none;
}

/* Steps */

.step {
	background-color: white !important;
	border-radius: 50%;
	border: 1px solid #ccc;
	color: #999;
	/* position: absolute; */
	height: 45px;
	width: 45px;
	text-align: center;
	/* top: 80px; */
	margin: 0 auto;
}

.step-active {
	background-color: #3bb18f !important;
	border: 1px solid #3bb18f !important;
	color: white !important;
}

.step h2 {
	font-size: 18px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	line-height: 43px;
}

.step-box h3 {
	font-size: 16px;
	font-weight: 700;
	margin-top: 15px;
	text-transform: uppercase;
}

/* product blog  */

.product-table tr {
	border-bottom: 1px solid rgba(189, 189, 189, 0.6) !important;
}

table.product-table td.text-left.py-3 img {
	height: 100px;
	margin-right: 1.5rem;
	width: 100px;
}

table.product-table td.text-left.py-3 h6 {
	color: black;
	font-size: 16px !important;
	font-weight: 700;
}

table.product-table td.text-left.py-3 ul li {
	color: #777;
	font-size: 12px;
}

table.product-table td input {
	font-size: 13px;
	width: 42px !important;
	border: 1px solid rgba(184, 166, 166, 0.349);
}

table.product-table td i {
	margin-right: 3px;
	margin-left: 3px;
}

table.product-table td i:hover {
	color: #3bb18f !important;
	cursor: pointer;
}

/* summary  */

.summary {
	background-color: #f7f7f7 !important;
	padding: 20px 20px 50px 20px;
}

.summary h4 {
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 15px;
}

.summary h5 {
	color: rgba(80, 80, 80, 0.87);
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 10px;
}

.recipt a {
	color: black;
	text-decoration: none;
}

.recipt a:hover {
	color: #3bb18f !important;
}
