@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap");
/* font-family: 'Poppins', sans-serif; */

body {
	/* font-family: "Playfair Display", serif; */
	padding-top: 50px;
}

* {
	box-sizing: border-box;
	/* outline: 1px solid red; */
}

/* Typography */

.vl {
	border-left: 1px solid grey;
	/* margin-right: 5px; */
}

/* helper classes */

.px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.ml-6 {
	margin-left: 60px;
}
.ml-7 {
	margin-left: 70px !important;
}
.ml-10 {
	margin-left: 100px !important;
}

.mr-5 {
	margin-right: 5px;
}
.inline {
	display: inline;
}
